<!-- About Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading-about">
                        My interests, and skills, lie primarily in the domain of Software Development, but also extend to Game Development, AI, Blockchain, and more!
                        <br />
                        <br />
                        To that end, I have experience using WPF, WinForms, C#, .NET, .NET Core, C++, Java, Unity3D, React, JavaScript, NodeJS, TypeScript, SQL, HTML, and more.
                        <br />
                        <br />
                        I have completed many courses which use the above languages and have also gained many valuable experiences through numerous work opportunities since graduating. 
                        <br />
                        Additionally, to complement my skill set, I have experience using Git and Agile methodologies, along with TFS, SVN, and more.
                        <br />
                        <br />
                        For any questions regarding my skills, experience, or otherwise, please feel free to contact me!
                    </h3>
                </div>
            </div>
        </div>
    </section>